
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
      font-family: "Google Sans Flex", sans-serif;
}

.bull_box3{
    background-color: #000000;
    color: #fff;
}

.book_btn{
    width: 100%;
    padding-block: 20px;
    text-align: left;
    padding-left: 20px;
    color: #000;
    background-color: #FCCD10FC;
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
}
.bull_box1 {
    margin-top: 100px;
}

.bull_box1 h1{
font-weight: 500;
font-size: 4rem;
line-height: 1;
padding-bottom: 10px;
color: #1D1D1D;
}

.bull_box1 p{
font-size: 1.1rem;
font-weight: 400;
letter-spacing: -0.03em;
color: #1D1D1D;
line-height: 1.2;
}

.bull_box3_heading{
font-weight: 600;
color: #F5F5F5;
font-size: 2rem;
line-height: 1;
}
.bull_box3 p{
font-weight: 400;
font-size: 1.1rem;
letter-spacing: -0.03em;
color: #F5F5F5;
line-height: 1.2;

}
.bull_box3_sub h3{
font-weight: 500;
font-size:1.7rem;
color: #FFFFFF;
padding-bottom: 30px;

}

.bull_box4 h5{
font-size: 2rem;
font-weight: 600;
color: #1D1D1D;
line-height: 1;
}
.bull_box_sub{
    border-left: 1px solid #FCCD10FC;
}

.bull_box3_sub{
    border-left: 1px solid #FCCD10FC;
}
.bull_box5{
    background-color: #FCCD10FC;
}
.bull_box5_sub{
    border-top: 1px solid #000;
}
.bull_box4{
    padding-block: 100px;
    
}
.bull_box4 p{
font-weight: 400;
font-size: 1.1;
line-height: 1.2;
letter-spacing: -0.03em;
color: #1D1D1D;
}
.bull_box5 h3{
font-weight: 400;
font-size: 1.3rem;
line-height:1;
letter-spacing: -0.03em;
color: #000000;
}
.bull_box5 p{
font-weight: 400;
font-size: 1.1rem;
line-height: 1.2;
color: #000000;
width: 40%;
}

.bull_box6{
    margin-block: 50px;
}
.bull_box6 h6{
    font-size: 1.5rem;
font-weight: 500;
line-height: 1;
color: #1D1D1D;
margin-bottom: 40px;
}

.bull_box6_sub {
    border-left: 1px solid #9B9B9B;
}
.bull_box6_sub h3{
font-weight: 400;
font-size: 1.5;
line-height: 1;
color: #9B9B9B;
padding-top: 20px;
}

.bull_box6_sub p{
font-weight: 400;
font-size: 1.1rem;
line-height: 1.2;
color: #3E3E3E;
padding-top: 10px;
}

